@font-face {
  font-family: "Gilroy";
  src: local("font/Gilroy Bold"), local("font/Gilroy-Bold"),
    url("font/Gilroy-Bold.woff2") format("woff2"),
    url("font/Gilroy-Bold.woff") format("woff"),
    url("font/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("font/Gilroy Medium"), local("font/Gilroy-Medium"),
    url("font/Gilroy-Medium.woff2") format("woff2"),
    url("font/Gilroy-Medium.woff") format("woff"),
    url("font/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(94, 236, 255);
  font-family: "Gilroy";
  font-weight: medium;
}
.container {
  max-width: 945px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    padding: 0 30px;
  }
}
/* //////////////////////////////////////////Novik */
.block-Novik {
  width: 100%;
  background-color: white;
}

.box-Novik {
  width: 100%;
  padding-bottom: 104px;
}
.box-Novik__divblock-nav {
  width: 100%;
  height: 87px;
  border-bottom: 1px solid #a5a5a5;
  position: relative;
  visibility: visible;
}
.box-Novik__popup-clouse {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 50px;
}
.box-Novik__ul-menu {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-Novik__li-menu {
}
.box-Novik__a-link-menu {
  font-weight: bold;
  color: #828282;
  font-size: 18px;
}
.box-Novik__a-link-menu:hover {
  color: black;
}
.box-Novik__a-link-menu_mod-active {
  color: black;
}
.box-Novik__div-lang-menu {
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  position: absolute;
  right: 0;
  bottom: 60px;
  visibility: hidden;
}
.rueng-menu {
  color: black;
  font-size: 34px;
}
.eng-menu,
.ru-menu {
  color: #828282;
  font-size: 34px;
}
.lang_mod-active-menu {
}
.box-Novik__divblock-yourself {
  width: 100%;
  margin: 40px 0 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.box-Novik__burger-popup {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 70px;
}
.popup {
  visibility: visible;
}
.box-Novik__div-name {
  width: 125px;
  font-size: 47px;
  font-weight: bold;
}
.box-Novik__div-name span {
  position: relative;
  top: 7px;
}
.box-Novik__div-designer {
  width: 151px;
  font-size: 18px;
}
.box-Novik__div-lang {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.box-Novik__div-lang span {
}
.rueng {
  color: black;
}
.eng,
.ru {
  color: #828282;
}
.eng:hover,
.ru:hover {
  color: #020202;
}
.lang_mod-active {
  font-weight: bold;
  color: black;
}
.box-Novik__divblock-photo {
  width: 100%;
  height: 100%;
}
.box-Novik__divblock-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup:target {
  visibility: hidden;
}
@media (max-width: 500px) {
  .box-Novik {
    padding-bottom: 80px;
  }
  .box-Novik__div-name {
    padding: 50px 0 23px 0;
  }
  .box-Novik__div-lang {
    display: none;
  }
  .box-Novik__divblock-yourself {
    margin: 0px 0 35px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .box-Novik__divblock-nav {
    width: 100%;
    height: 87px;
    border-bottom: 1px solid #a5a5a5;
  }
  /* //////////////////////////////////////Popup-menu */
  .box-Novik__burger-popup {
    visibility: visible;
  }

  .popup {
    visibility: hidden;
    display: none;
  }
  .popup:target {
    visibility: visible;
    display: block;
  }
  .box-Novik__popup-clouse {
    visibility: visible;
  }
  .box-Novik__divblock-nav {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #a5a5a5;
    position: relative;
    visibility: visible;
  }
  .box-Novik__ul-menu {
    width: 100%;
    height: 50%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .box-Novik__a-link-menu {
    font-weight: bold;
    color: #828282;
    font-size: 25px;
  }
  .box-Novik__div-lang-menu {
    visibility: visible;
  }
}
/* ////////////////////////////////////Aboute me */
.block_about {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}
.box-about {
  width: 100%;
  height: 100%;
  padding: 90px 0 110px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
}
.box-about p {
  margin: 20px 0;
  font-size: 18px;
}
.h2-all-heading {
  font-size: 34px;
  font-weight: bold;
}
/* ////////////////////////////////////////////////Skills */
.block-skills {
  width: 100%;
  background-color: white;
}
.box-skills {
  width: 100%;
  min-height: 610px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0 110px 0;
}
.box-skills p {
  font-size: 18px;
  color: #070707;
}
.box-skills__divblock-colomns {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.box-skills__div-colomn {
  max-width: 166px;
  min-height: 206px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.box-skills__div-colomn p {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.img-icon {
  max-width: 89px;
  max-height: 89px;
}
.box-skills__ul-stars {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.box-skills__li-star {
}
@media (max-width: 500px) {
  .box-skills__divblock-colomns {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .box-skills__div-colomn + .box-skills__div-colomn {
    margin-top: 80px;
  }
  .p-heading-skills {
    margin: 50px 0 70px 0;
  }
}
/* /////////////////////////////////////////////Portfolio */
.block-portfolio {
  width: 100%;
  background-color: #f6f6f6;
}
.box-portfolio {
  width: 100%;
  padding: 90px 0 96px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.box-portfolio img {
  width: 100%;
  height: 100%;
  margin: 100px 0 46px 0;
  object-fit: cover;
}
.box-portfolio img:nth-of-type(1) {
  margin: 46px 0 46px 0;
}
.h2-all-heading {
}
.box-portfolio__a-link {
  font-size: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}
@media (max-width: 500px) {
  .box-portfolio__a-link {
    font-size: 16px;
  }
}
/* ///////////////////////////////////////////////////contacts */
.block-contacts {
  width: 100%;
  padding: 90px 0 110px 0;
  background-color: white;
}

.box-contacts {
  width: 100%;
  height: 100%;
  text-align: center;
}
.box-contacts p:nth-of-type(1) {
  font-size: 18px;
  color: #070707;
  margin: 20px 0 42px 0;
}
.box-contacts__a-button {
  padding: 10px 31px;
  background-color: black;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.box-contacts__ul-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 92px 0 45px 0;
}
.box-contacts__li-icon {
}
.box-contacts__li-icon + .box-contacts__li-icon {
  padding-left: 61px;
}
.box-contacts p:nth-of-type(2) {
  font-size: 14px;

  color: #828282;
}

@media (max-width: 500px) {
  .box-contacts__li-icon + .box-contacts__li-icon {
    padding-left: 30px;
  }
  .box-contacts__a-button {
    padding: 7px 65px;
    background-color: black;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  .box-contacts__ul-icons {
    margin: 48px 0 45px 0;
  }
  .box-contacts__p {
    font-size: 10px;
  }
  .box-contacts p:nth-of-type(1) {
    font-size: 16px;
  }
  .h2-all-heading {
    font-size: 30px;
  }
}
